.wrapper{
    width: 100%;
    max-width: 100vw;
    height: auto;
    min-height: 100vh;
    background: rgba($color: #3390EE, $alpha: .21);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 4;
}
