.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.2rem;
}

.label{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-white);
    letter-spacing: 1px;
    text-transform: capitalize;
    background: var(--secondary-color);
    padding: .8rem 1.2rem;
}

.time_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.2rem;
}

.order_id{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-black);
}

.timer_container{
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: 1.8rem;
    color: var(--text-white);
    font-variant-numeric: tabular-nums;
}

.time_indicator{
    font-variant-numeric: tabular-nums;
    min-width: 2rem;
    text-align: center;
}